.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 60px 50px 80px 80px 160px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas:
    "header1 header1"
    "header2 header3"
    "content2 content2" 
    "content3 content3"
    "advert advert"
    "content4 content4";
}
.box {
    background-color: chartreuse;
    font-size: 1rem;
    color: rgb(15, 14, 14);
}

.box:nth-child(2n +1) {
    background-color: rgb(224, 30, 198);
}

.box1 {
    grid-area: header1;
}

.box2 {
    grid-area: header2;
}

.box3 {
    grid-area: header3;
}

.box4 {
    grid-area: content1;
}

.box5 {
    grid-area: content2;
}

.box6{
    grid-area: advert;
}
/* .box7{
    grid-area: advert;
} */


.box8{
    grid-area: content3;
}

.box9{
    grid-area: content4;
}

.box10{
    grid-area: content5;
}

.hide-phone {
    display: none;
}

@media screen and (min-width: 576px) {
    .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 50px 40px 150px 400px 60px ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
    "header1 header2 header3"
    "content1 content1 content1"
    "content2 content2 content2" 
    "content3 content3 advert"
    "content4 content4 content4" 
    "content5 content5 content5";
}
.box {
    background-color: rgb(70, 41, 104);
    font-size: 2rem;
    color: rgb(24, 209, 70);
}

.box:nth-child(2n +1) {
    background-color: rgb(209, 141, 15);
}

.box1 {
    grid-area: header1;
}

.box2 {
    grid-area: header2;
}

.box3 {
    grid-area: header3;
}

.box4 {
    grid-area: content1;
}

.box5 {
    grid-area: content2;
}

.box6{
    grid-area: advert;
}
/* .box7{
    grid-area: advert;
} */


.box8{
    grid-area: content3;
}

.box9{
    grid-area: content4;
}

.box10{
    grid-area: content5;
}
.hide-phone {
    display: block;
}

}
@media screen and (min-width: 992px) {
    .container {
    display: grid;
    grid-template-columns: 3fr 1fr 5.5fr 5.5fr 5fr;
    grid-template-rows: 100px 200px 400px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas:
    "header1 header2 header2 header2 header3"
    "content1 content1 content1 content2 advert"
    "content3 content3 content4 content4 content5";
}
.box {
    background-color: rgb(214, 19, 84);
    font-size: 2rem;
    color: rgb(41, 44, 230);
}

.box:nth-child(2n +1) {
    background-color: rgb(26, 24, 22);
}

.box1 {
    grid-area: header1;
}

.box2 {
    grid-area: header2;
}

.box3 {
    grid-area: header3;
}

.box4 {
    grid-area: content1;
}

.box5 {
    grid-area: content2;
}

.box6{
    grid-area: advert;
}
/* .box7{
    grid-area: advert;
} */


.box8{
    grid-area: content3;
}

.box9{
    grid-area: content4;
}

.box10{
    grid-area: content5;
}
.hide-phone {
    display: block;
}
}