.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 6fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas:
    "header1 header1"
    "header2 header3";
    margin-bottom: 5px;
    text-align: center;
}
.container1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 8fr 8fr 16fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas:
    "content2 content2" 
    "content3 content3"
    "advert advert"
    "content4 content4";
    text-align: justify;
}

.box {
    background-color: #4d6187;
    color: #c5d8ff;
    padding: 5px 5px 5px 5px;    
}

.box1 {
    grid-area: header1;
}

.box2 {
    grid-area: header2;
}

.box3 {
    grid-area: header3;
}

.box4 {
    grid-area: content1;
}

.box5 {
    grid-area: content2;
}

.box6{
    grid-area: advert;
    justify-content: space-evenly;
}

.box7{
    grid-area: content3;
}

.box8{
    grid-area: content4;
}

.box9{
    grid-area: content5;
}

.hide-phone {
    display: none;
}

.button {
    background-color: #c5d8ff;
    color: #4d6187;
    margin-top: 5px;
}
.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
footer {
    color: #4d6187;
    font-size: 16px;
}
.inner-ad-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 5fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas:
        "header1 header2 header3";
        margin-bottom: 10px;
        text-align: center;
    }
    .container1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 5fr 4fr 15fr 40fr 6fr ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
    "content1 content1 content1"
    "content2 content2 content2" 
    "content3 content3 advert"
    "content4 content4 content4" 
    "content5 content5 content5";
    text-align: justify;
}
.box {
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
}

.hide-phone {
    display: block;
}

}
@media screen and (min-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 3fr 1fr 5.5fr 5.5fr 5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-template-areas:
        "header1 header2 header2 header2 header3";
        margin-bottom: 15px;
        text-align: center;
    }
    .container1 {
    display: grid;
    grid-template-columns: 3fr 1fr 5.5fr 5.5fr 5fr;
    grid-template-rows: 1.2fr 2.5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas:
    "content1 content1 content1 content2 advert"
    "content3 content3 content4 content4 content5";
    text-align: justify;
}

.box {
    font-size: 2rem;
    padding: 15px 15px 15px 15px;
}

}